<!DOCTYPE html>
<html>


<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Dark Prince Forms</h1>
  <p>By team Dark Prince</p> 
</div>
<div class="container">
<h1>Welcome</h1>
<br>
<div>
<p>
	<a href="{% url 'login' %}">Login</a>
</p>
</div>
<div>
<p>
	<a href="{% url 'register' %}">Not yet Registered?</a>
</p>
</div>
 </div>
</body>
</html>