<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Dark Prince Forms</h1>
  <p>By team Dark Prince</p> 
</div>
<div class = "container">
 <form action="" method="post">
    {% csrf_token %} 
    <br>
    <br>
    <p>Enter a question number to get statistics</p>
    <input type="integer" name="question_number">
    <br>
    <br>
    <p>{{message}}</p>
    <br>
    <br>
    <input type="submit">
  </form>
</div>
</body>
</html>
